.sub-category {
  flex-basis: 25%;
  padding: 5px;
  min-width: 200px;
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  transition: transform 0.35s ease-in;
  img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height: 300px;
  }
  h4 {
    margin-top: 3px;
    margin-bottom: 1.5px;
  }
  .border-show {
    z-index: -1;
    border: 1px solid #d3d3d3;
    margin-top: -5px;
  }
  &:hover {
    transform: scale(1.035);
  }
}
.rating {
  color: #ff523b;
  margin: 4px 0;
}
.products {
  text-align: center;
  margin: 0 auto 50px;
  position: relative;
  line-height: 60px;
  color: #555;
  &::after {
    content: "";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.price-bottom {
  margin-bottom: 3px;
}
.rupee {
  font-weight: 600;
  padding-right: 1.5px;
  font-size: 13px;
}
.brands {
  margin: 60px auto;
}
.brands-col {
  width: 170px;
  img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(0);
    }
  }
}
.border-show h5,
.border-show p,
.border-show .rating,
strong {
  margin-left: 5px;
}
.list {
  list-style-type: none;
}
