$logoSupport: -webkit-linear-gradient(to right, #0575e6, #00f260);
$logoMain: linear-gradient(to right, #0575e6, #00f260);
$fontFamilySec: "Merriweather", serif;
$fontFamilyMain: "Roboto", sans-serif;
$backgroundMain: linear-gradient(to right, #ffdde1, #ee9ca7);
$backgroundSupport: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
$backgroundOld: #ee9ca7;
$textColor: #555;
$footerColor: #9697a0;
